body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E4F4F;
}

.container {
    display: grid;
    background-color: #ffffff;
    height: 600px;
    width: 600px;
    grid-template-columns:repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0px;
    box-shadow: 10px 10px rgb(51, 215, 215);
}

.griditem {
    background-color: #ffffff;
}

#btn {
    display: inline;
    margin-right: 20px;
    font-size: 1.5rem;
    background-color: #0E8388;
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#btn:hover {
    background-color: #619a9c;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#raster-button {
    margin-right: 20px;
    font-size: 1.5rem;
    background-color: #0E8388;
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}

#raster-button:hover {
    background-color: #619a9c;
}

#colorwheel {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-right: 10px;
}